p= t 'devise.mailer.greet', resource: @email

p= t 'devise.mailer.confirmation_instructions.steps'

p= link_to t('devise.mailer.confirmation_instructions.link'), confirmation_url(@resource, confirmation_token: @token)
