p= t 'devise.mailer.greet', resource: @resource

p= t 'devise.mailer.reset_password_instructions.steps'

p= link_to t('devise.mailer.reset_password_instructions.link'), edit_password_url(@resource, reset_password_token: @token)

p= t 'devise.mailer.reset_password_instructions.unsolicited'
p= t 'devise.mailer.reset_password_instructions.warning'
