p= t 'devise.mailer.greet', resource: @resource.email

p= t 'devise.mailer.unlock_instructions.lock_explanation'

p= t 'devise.mailer.unlock_instructions.steps'

p= link_to t('devise.mailer.unlock_instructions.link'), unlock_url(@resource, unlock_token: @token)
